# packages
node_modules
resources/static/*
.vscode

# files
package-lock.json
download.csv
.DS_Store
search0x.json
search1x.json
search2x.json
validationResponseNotValid.json
validationResponseValid.json
saveResponse.json