# packages
node_modules
resources/static/*
.vscode

# files
package-lock.json
download.csv
.DS_Store
search0x.json
search1x.json
search2x.json
validationResponseMergeNotValid.json
validationResponseUploadValid.json
saveResponse.json
xmlResponse.xml
getPSD2TokenEmbeddedOAuthResponse.json
getTPPTokenEmbeddedOAuthResponse.json
DKBCreateConsent.json
DKBInitiatePayment.json
DKBstartPsuResponse.json
DKBAuthoriseTransaction.json
DKBChooseScaMethod.json
tpp-pb-password_cert.pem